In [1]:
import datapot as dp

In [2]:
data = dp.DataPot()
data

DataPot class instance
 - number of features without transformation: 0
 - number of features after transformation: Unknown
features to transform:

In [3]:
f = open('matches_test.jsonlines', 'r')

In [4]:
data.fit(f, limit=10)
data

DataPot class instance
 - number of features without transformation: 771
 - number of features after transformation: Unknown
features to transform:
	('picks_bans.15.is_pick', [TestBoolToIntTransformer])
	('picks_bans.3.is_pick', [TestBoolToIntTransformer])
	('picks_bans.11.is_pick', [TestBoolToIntTransformer])
	('picks_bans.16.is_pick', [TestBoolToIntTransformer])
	('picks_bans.0.is_pick', [TestBoolToIntTransformer])
	('picks_bans.14.is_pick', [TestBoolToIntTransformer])
	('picks_bans.1.is_pick', [TestBoolToIntTransformer])
	('picks_bans.19.is_pick', [TestBoolToIntTransformer])
	('picks_bans.5.is_pick', [TestBoolToIntTransformer])
	('picks_bans.6.is_pick', [TestBoolToIntTransformer])
	('picks_bans.10.is_pick', [TestBoolToIntTransformer])
	('picks_bans.13.is_pick', [TestBoolToIntTransformer])
	('picks_bans.17.is_pick', [TestBoolToIntTransformer])
	('picks_bans.2.is_pick', [TestBoolToIntTransformer])
	('picks_bans.4.is_pick', [TestBoolToIntTransformer])
	('start_time', [TestTimestampTransformer])
	('picks_bans.18.is_pick', [TestBoolToIntTransformer])
	('picks_bans.8.is_pick', [TestBoolToIntTransformer])
	('picks_bans.7.is_pick', [TestBoolToIntTransformer])
	('picks_bans.12.is_pick', [TestBoolToIntTransformer])
	('picks_bans.9.is_pick', [TestBoolToIntTransformer])

In [5]:
df = data.extract(f)
df.head()

,players.1.purchase_log.6.time,picks_bans.15.is_pick_binary,picks_bans.3.is_pick_binary,players.9.lh_t.4,players.3.kills_log.0.time,players.1.lh_t.5,players.4.xp_t.2,players.6.ability_upgrades.1.time,players.5.ability_upgrades.4.level,players.5.xp_t.0,...,players.4.xp_t.0,players.5.kills_log.1.time,players.7.kills_log.1.player,players.7.purchase_log.5.item_id,players.8.purchase_log.9.time,players.2.xp_t.3,players.4.ability_upgrades.1.time,players.6.lh_t.5,players.4.purchase_log.2.item_id,players.3.sen_log.0.xy.1
0,194.0,1.0,0.0,5.0,NaN,10.0,513.0,125.0,NaN,0.0,...,0.0,218.0,NaN,16.0,279.0,641.0,114.0,18.0,20.0,NaN
1,NaN,1.0,0.0,1.0,NaN,22.0,206.0,NaN,5.0,0.0,...,0.0,NaN,NaN,27.0,NaN,534.0,170.0,2.0,12.0,NaN
2,NaN,1.0,0.0,2.0,NaN,2.0,175.0,163.0,5.0,0.0,...,0.0,NaN,NaN,216.0,NaN,515.0,192.0,5.0,44.0,NaN
3,51.0,1.0,0.0,5.0,NaN,30.0,308.0,140.0,5.0,0.0,...,0.0,NaN,NaN,NaN,194.0,152.0,153.0,27.0,39.0,NaN
4,-68.0,1.0,0.0,10.0,NaN,9.0,351.0,150.0,NaN,0.0,...,0.0,NaN,NaN,44.0,NaN,1345.0,165.0,25.0,42.0,NaN

In [6]:
df['start_time_date'].head()  # one of new features

0    2015-04-29
1    2015-04-30
2    2015-04-30
3    2015-04-30
4    2015-04-29
Name: start_time_date, dtype: object