In [1]:
import datapot as dp

In [2]:
f = open("research/nikita/temp.json", 'r')

In [3]:
data = dp.DataPot()
data.fit(f, limit=100)
df = data.transform(f, verbose=True)
df.head(n=10)

fit transformers...
fit: (u'amount', [TimestampTransformer])
fit transformers...OK
num of new features: 5

,amount_timestamp_unixtime,amount_timestamp_week_day,amount_timestamp_month_day,amount_timestamp_hour,amount_timestamp_minute
0,None,None,None,None,None
1,None,None,None,None,None
2,None,None,None,None,None
3,None,None,None,None,None
4,None,None,None,None,None
5,None,None,None,None,None
6,None,None,None,None,None
7,None,None,None,None,None