### Dataset with timestamp features.

Creating the DataPot object.

In [6]:
import datapot as dp
import pandas as pd

In [7]:
datapot = dp.DataPot()

In [8]:
import bz2
ftr = open('/home/yury/transactions.csv')

In [9]:
from datapot.utils import csv_to_jsonlines

csv_to_jsonlines(ftr, '/home/yury/transactions.jsonlines')

In [10]:
ftr = open('/home/yury/transactions.jsonlines')

Let's call the fit method. It automatically finds appropriate transformers for the fields of jsonlines file. The parameter 'limit' means how many objects will be used to detect the right transformers.

In [6]:
datapot.fit(ftr, limit=100)

In [7]:
datapot

DataPot class instance
 - number of features without transformation: 5
 - number of new features: 10
features to transform:
	('merchant_id', [SVDOneHotTransformer])
	('real_transaction_dttm', [TimestampTransformer])
	('record_date', [TimestampTransformer])

As a result, only categorical transformers were choosen.

In [8]:
data = datapot.transform(ftr, verbose=True)

fit transformers...
fit: ('merchant_id', [SVDOneHotTransformer])
fit: ('real_transaction_dttm', [TimestampTransformer])
fit: ('record_date', [TimestampTransformer])
fit transformers...OK
num of new features: 22

In [10]:
data.head()

,merchant_id_one_hot0,merchant_id_one_hot1,merchant_id_one_hot2,merchant_id_one_hot3,merchant_id_one_hot4,merchant_id_one_hot5,merchant_id_one_hot6,merchant_id_one_hot7,merchant_id_one_hot8,merchant_id_one_hot9,...,real_transaction_dttm_timestamp_week_day,real_transaction_dttm_timestamp_month_day,real_transaction_dttm_timestamp_hour,real_transaction_dttm_timestamp_minute,longitude,record_date_timestamp_unixtime,record_date_timestamp_week_day,record_date_timestamp_month_day,record_date_timestamp_hour,record_date_timestamp_minute
0,1.038834e-16,7.096047e-17,-4.537539e-18,1.289772e-16,8.198421e-17,-1.489204e-16,-5.814689e-16,5.102262e-16,-5.773033e-15,4.034763e-15,...,4,17,9,34,0.000000,1.487313e+09,4,17,9,30
1,1.038834e-16,7.096047e-17,-4.537539e-18,1.289772e-16,8.198421e-17,-1.489204e-16,-5.814689e-16,5.102262e-16,-5.773033e-15,4.034763e-15,...,4,17,17,49,82.912991,1.487343e+09,4,17,17,54
2,1.038834e-16,7.096047e-17,-4.537539e-18,1.289772e-16,8.198421e-17,-1.489204e-16,-5.814689e-16,5.102262e-16,-5.773033e-15,4.034763e-15,...,4,17,9,34,0.000000,1.487313e+09,4,17,9,31
3,1.038834e-16,7.096047e-17,-4.537539e-18,1.289772e-16,8.198421e-17,-1.489204e-16,-5.814689e-16,5.102262e-16,-5.773033e-15,4.034763e-15,...,4,17,17,49,82.912734,1.487343e+09,4,17,17,43
4,1.038834e-16,7.096047e-17,-4.537539e-18,1.289772e-16,8.198421e-17,-1.489204e-16,-5.814689e-16,5.102262e-16,-5.773033e-15,4.034763e-15,...,4,17,17,49,82.912734,1.487343e+09,4,17,17,45

In [14]:
data.columns

Index(['merchant_id_one_hot0', 'merchant_id_one_hot1', 'merchant_id_one_hot2',
       'merchant_id_one_hot3', 'merchant_id_one_hot4', 'merchant_id_one_hot5',
       'merchant_id_one_hot6', 'merchant_id_one_hot7', 'merchant_id_one_hot8',
       'merchant_id_one_hot9', 'latitude',
       'real_transaction_dttm_timestamp_unixtime',
       'real_transaction_dttm_timestamp_week_day',
       'real_transaction_dttm_timestamp_month_day',
       'real_transaction_dttm_timestamp_hour',
       'real_transaction_dttm_timestamp_minute', 'longitude',
       'record_date_timestamp_unixtime', 'record_date_timestamp_week_day',
       'record_date_timestamp_month_day', 'record_date_timestamp_hour',
       'record_date_timestamp_minute'],
      dtype='object')